section#ksum-footer.section-content
  .container
    .row
      .col-sm-4.left-col
        img.img-fluid(src="./img/logo-dark.svg" alt="ksum logo")
        p.text-center.my-3.small TVM/TC/393/2020

      .col-sm-4
      .col-sm-4.right-col
        h4.m-0.text-white Contact Us
        p.m-0 Vignesh
        p.m-0 Tel: +91 96337 95254
        

section#ksum-copy
  p Copyright © 2019 Ashtamudi. All Rights Reserved.