nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    //- li
    //-   a(data-scroll, href='#') Mentors
    //- li
    //-   a(data-scroll, href='#') Programs
    //- li
    //-   a(data-scroll, href='#') Offerings
    //- li
    //-   a(data-scroll, href='#') Success Stories
    //- li
    //-   a(data-scroll, href='#') Partners
    //- li
    //-   a(data-scroll, href='#') Apply