mixin speaker(img, name, desig, company, bio)
	.speaker
		a
			img(src="./img/"+img alt="iedc summit speaker img")
		.descp
			h4 #{name}
			h5.desi #{desig}
			h5.com #{company}
		if(bio)
			.bio
				each item in bio||[]
					p= item