@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: #6FA545c4;
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#header-section {
  background: url('../img/slider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #29421588;
    backdrop-filter: blur(5px);
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/slider.jpg');
    // background: url('https://www.workandliveinchina.com/wp-content/uploads/2019/07/China-is-a-developing-country.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: url('../img/mask-full.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    @include my_bp(sm) {
      mask-size: auto;
    }
  }
  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.read-more {
  transform: scaleY(0);
  transform-origin: top center;
  transition: all .45s cubic-bezier(.44, .99, .48, 1);
  // display: none;
  height: 0;
  &.open {
    transform: scaleY(1);
    height: auto;
    // display: block;
  }
}

#speaker-section {
  .speaker-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    .speaker {
      width: 50%;
      margin-top: 50px;
      padding: 0 10px;
      @include my_bp(sm) {
        width: 25%;
      }
      img {
        width: 160px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 1px 1px 5px #666;
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          padding: 2px;
          transform: translateY(-5px);
        }
      }
      .bio {
        display: none;
      }
      .descp {
        padding-top: 10px;
        h4 {
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;
        }
        h5 {
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin: 0;
        }
        .desi {
          font-weight: bold;
          margin-bottom: .5rem;
        }
      }
    }
  }
}