doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug
    include parts/mixin.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#header-section
      .overlay
      .mask
      //- .content
      //-   h1 Kerala Startup Mission

    //- section#slider-section
    //-   img.slide(src="./img/slider.jpg")
    //-   .container#info-container
    //-     .row
    //-       .col-sm-12
    //-         h1 Ashtamudi

    section.section-content
      .container
        .row
          .col-sm-12
            h2.mb-4 About Ashtamudi
            p.text-justify Our state is on the way to become self reliant in vegetables, milk, eggs etc thus showing to the world that the state can realize it's dream of ensuring food security to its people. It is all the more significant when this is being achieved against all odds such as floods, pandemic etc. While the mission mode approach titled Haritha Keralam is bringing in dramatic results in paddy etc the newly launched Subhiksha Keralam aims at an integrated approach towards making every household food secure. The Scheme is quite unique in the sense that it provides for people's participation and the state  Government facilitates the smooth implementation of the programs  through its Departments and agencies. The local self Governments are playing the key role in this movement. The resilience of Kerala towards the adversities caused by floods or pandemic is self evident. The ability to fight for survival and to come out successful through collective efforts without any sort of divisive thoughts or feelings is there to see in every part of the state. The Agriculture and allied activities is becoming a part of our culture and it is now a matter of pride to have a backyard or rooftop vegetable cultivation. The stigma attached to the manual labour and the notion that agriculture as an occupation of uneducated or low income group  are all things of the past. The farmers who feed others have systematically been marginalized and pushed down  in the industrialized world and now we are seeing a resurrection of those who toil for others. We see the need to produce what we need to consume for our own health. The sustainability is a key  word given the challenges everybody on the planet faces on a daily basis. It is a sad reality that man is responsible for most of the perils such as  plastic waste 
            p.text-justify An NGO titled "Society for Socio Economic Development and Climate Resilient communities" has been formed to pursue various objectives leading to  prosperous and socially and environmentally responsible local communities. The major objectives include best practices in agriculture and allied activities, solid  waste management, training and skill development in related areas, linkages in inputs and marketing,  technology and project support for value addition, community development programs in health, hygiene , education etc. micro enterprises  development and cluster type development model, awareness and extension services for various schemes of Central and State Governments, Women empowerment and economic development of marginalized communities etc. 
            p.text-justify The initial focus of the society under the brand name " Ashtamudi " is to carry out few pilot projects in line with the Subhiksha Scheme of the state Government. The project area selected is 8 panchayats coming under the Chirayinkeezhu constituency. There will be projects in the area of safe to eat vegetables, poultry, Aquaculture, Dairy, Eggs and handlooms. These areas have been selected carefully keeping in mind the local skill sets, physical resources and linkage potential. About 200 farmers which includes pravasis who returned due to the situtation in Gulf have been identified for taking up activities in the select sectors. The selected farmers will be given "  cradle to grave " support such as training, support for inputs, 
            p.text-justify.read-more Support for financial assistance from various institutions, technology support, marketing support etc.  The project aims to create supporting livelihood opportunities in washing, grading and packing of vegetables and other products. The best part of the project is that the farmers are able to realize much better price as the layers are eliminated. As the best practices are employed the productivity is improved and crop loss is reduced.The farmers are also covered under  appropriate insurance scheme.  This will be enhanced to cover more sectors and in the process atleast 1000 farmers will be covered in 1 year. The society aims at replicating this model throughout the state in a phased manner depending on the outcome of the pilot project.
            p.text-justify.read-more Polluting our land, waters, air  and seas, climate change due to excessive use of fossil fuels in transportation, factories, energy plants etc. , indiscriminate deforestation and irresponsible mining or quarrying etc. It is in this background that an initiative has been thought of, for an integrated approach for local economic development in a sustainable manner and to make the communities more resilient towards climate change and such other perils. 
            .text-center
              a.btn.btn-info.rounded-pill.px-5#readmore(href="#") Read More

    section
      .container
        .row
          .col-sm-12
            h2.mb-4.text-center Our Focus Area
        .row.justify-content-center.align-items-center
          .col-sm-4
            .p-2.shadow.mb-5
              img.img-fluid.w-100(src="./img/agri.png")
              h5.text-center.mt-2 Agri Farming
          .col-sm-4
            .p-2.shadow.mb-5
              img.img-fluid.w-100(src="./img/aqua.png")
              h5.text-center.mt-2 Aqua Farming
          .col-sm-4
            .p-2.shadow.mb-5
              img.img-fluid.w-100(src="./img/dairy.png")
              h5.text-center.mt-2 Dairy Farming
          .col-sm-4
            .p-2.shadow.mb-5
              img.img-fluid.w-100(src="./img/poultry.png")
              h5.text-center.mt-2 Poultry Farming
          .col-sm-4
            .p-2.shadow.mb-5
              img.img-fluid.w-100(src="./img/handloom.png")
              h5.text-center.mt-2 Handloom
    
    section#speaker-section.section-content
      .container
        h2.mb-2.text-center Executive Committee
        .speaker-list
          +speaker('suresh.jpeg', 'S SURESH', 'President', 'Formerly Additional Director of Industries & Commerce')
          +speaker('deepu.jpeg', 'DEEPU S NATH', 'Vice President', 'CEO FAYA')
          +speaker('murali.jpeg', 'MURALEEDHARAN PILLAI N', 'Secretary', '29 years experience as a Dairy Technologist. Retired as Deputy Director from Dairy Dept Kerala')
          +speaker('immanual.jpeg', 'IMMAMUDHEEN M H', 'Treasurer', 'Founder - New Malabar Poultry Trading Pvt Ltd & MD - City Light Glass Factory')
          //- +speaker('dp.jpg', 'ASHOK KURIAN PANJIKARAN', 'Executive Member', '')
          +speaker('boby.jpeg', 'BOBY VARGHESE', 'Executive Member', 'CEO, SE-Mentor Solutions (P) Ltd')
          +speaker('samual.jpeg', 'SAMUEL JOHN', 'Executive Member', 'Founder - Mitseo')
          +speaker('sobha.jpeg', 'SHOBHA VISWANATH', 'Executive Member', 'Founder - Weavers Village')
          //- +speaker('dp.jpg', 'RAKESH V SASI', 'Executive Member', '')


    //- section#register.section-content.pb-0(style="line-height: 0;")
    //-   iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdKAJRpCSqFR7vPweDJcax8WQnqtVIBKgdpGRBMClMwB3016g/viewform?embedded=true' width='100%' height='1500' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;


    
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
